/packages/doll_AI/resources/weights/Emo_weights/

/packages/doll_AI/resources/weights/GeneralDialog_weights/

/packages/doll_AI/resources/weights/Subtopic_model/

/packages/doll_AI/resources/weights/Transformer_weights/

/packages/doll_AI/resources/weights/Topic_weights/

/packages/doll_AI/resources/weights/NER_weights/

/chatbot

*.pyc