Flask
Flask-JWT-extended
Flask-RESTful
Flask-SQLAlchemy
Flask-SocketIO
Werkzeug
uwsgi
tensorflow-cpu
tensorflow_datasets
transformers
gdown
scikit-learn
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp39-cp39-linux_x86_64.whl
gevent-websocket