setuptools
Flask
Flask-JWT-extended
Flask-RESTful
Flask-SQLAlchemy
Flask-SocketIO
Flask-Cors
Flask-Bcrypt
Werkzeug
tensorflow
tensorflow_datasets
transformers
gdown
gensim
h5py
konlpy
torch
pandas
numpy
seqeval
tqdm
eventlet
sentence-transformers
konlpy